.search_field {
	position: relative;
	margin-top: 200px;
}

img {
	display: block;
	position: relative;	
	margin: auto;	
}


form {
	position: relative;
	padding: 10px 0px 5px 0px; 
}

#lookfor {
	margin: 20px auto 0;
	display: block;
	position: relative;
	width: 430px;
	padding: 5px;
	line-height: 20px;
}

#sub {
	margin-top: 30px;
	position: relative;
	margin: 10px auto 0;
	display: block;
	padding: 6px 15px 6px 15px;
}

.footer {
	position: fixed;
	bottom: 0;
	list-style-type: none;
	width: 98%;
	margin: -8px;
	padding: 25px;
	padding-top: 15px;
	margin-left: -20px;
	background-color: 	#e7e7e7;
	text-align: right;
	font-size: small;
	font-family: arial,sans-serif;
}

.header{
	position: fixed;
	top: 0;
	list-style-type: none;
	width: 97%;
	margin: -8px;
	padding: 25px;
	padding-bottom: 20px;
	text-align: right;
	font-family: arial,sans-serif;
}


li {
	display: inline-block;
	margin-left: 20px;
}

li a {
	text-decoration: none;
	color: #666;
	font-size: 13px;
}


li a:hover {
	text-decoration: underline;
}

.leftfoot {
	float: left;
}

#signin {
	border-radius: 2px;
	background-color: #4285f4;
	color: #fff;
	padding: 8px 12px;
	font-weight: bold;
	border: 1px solid #4285f4;
	line-height: 28px;
}

#signin:hover {
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#appsbutton {
	position: relative;
	height: 30px;
    width: 30px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: -5px;
	}

#appsbutton:hover {
	cursor: default;
}


#appsbutton td {
	background-color: #808080;
	border: 0px solid white;
	padding: 2px;
	border-spacing: 0px;
}

#appsbutton:hover td {
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #000;
}